body {
  background-image: url()
  background-size: cover;
}

.jumbotron {
  background-color: #5186a0;
}

.panel {
  opacity: 0.85;
  font-weight: bolder;
}

h1 {
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
}

h3 {
  font-family: 'Impact, Charcoal', sans-serif;
  font-weight: bold;
}